* {
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(236, 249, 253);
  font-family: "Roboto", sans-serif;
}

h1 {
  text-align: center;
  padding-top: 3rem;
}

ul {
  list-style: none;
}

h2 {
  margin: 1rem 0;
}
form {
  width: 35rem;
  margin: 3rem auto;
  background-color: rgb(230, 237, 237);
  border-radius: 5px;
  padding: 20px 15px;
}

label {
  margin: 5px 0;
}

input,
textarea,
select {
  display: block;
  width: 100%;
  margin: 5px 0;
  box-sizing: border-box;
  border: 1px solid rgb(184, 184, 184);
  border-radius: 4px;
}

input,
select {
  padding: 0.3rem 0;
}

.form-control-inline {
  display: flex;
}

.form-control-inline input {
  width: auto;
  margin: 0 0.5rem;
}

.form-control-inline:nth-child(4) {
  margin-top: 10px;
}

select:hover,
input:hover,
textarea:hover,
.form-control-inline:hover {
  background-color: rgb(161, 189, 222);
}

#buttons {
  display: flex;
  justify-content: flex-end;
}

button {
  margin: 5px;
  padding: 0.5rem 0.8rem;
  border: 1px solid rgb(184, 184, 184);
  border-radius: 4px;
  font-family: inherit;
}

#submit {
  background-color: rgb(40, 6, 104);
  color: white;
}

#reset:hover,
#submit:hover {
  background-color: rgb(161, 189, 222);
}
